.wrapperCounter {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;

  padding: 20px 0;

  font-size: 26px;
  font-weight: 600;

  .count,
  .btn {
    padding: 10px 20px;
    text-align: center;
    border-radius: 5px;
  }

  .count {
    min-width: 80px;
    max-width: 80px;
    color: #a52a2a;
    border: 1px solid black;
  }

  .btn {
    cursor: pointer;
    user-select: none;

    min-width: 85px;
    max-width: 85px;

    background-color: #a52a2abc;
  }
}
